/* Réinitialisation de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 30px;
}

.container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.menu {
    width: 65%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu h2 {
    margin-bottom: 10px;
}

h3{ color:blue}

.menu-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-item:hover {
    background-color: #f0f0f0;
}

.panier {
    width: 30%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#panier-items {
    list-style-type: none;
    margin-bottom: 20px;
}

#panier-items li {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

button.supprimer {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button.supprimer:hover {
    background-color: #e53935;
}

/* Media Queries */

/* Pour les écrans de tablette comme l'iPad Mini */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        width: 100%;
        margin-bottom: 20px;
    }

    .panier {
        width: 100%;
    }
}

/* Pour les petits écrans mobiles */
@media (max-width: 480px) {
    .menu {
        padding: 15px;
    }

    .panier {
        padding: 15px;
    }

    button {
        padding: 8px 12px;
        font-size: 14px;
    }

    button.supprimer {
        padding: 4px 8px;
        font-size: 12px;
        margin-top: 10px;
    }

    #total {
        font-size: 16px;
    }
}
